/* Custom styles for Step Lens */
.privacy-policy {
  text-align: left;
  padding: 20px;
}

.privacy-policy header,
.privacy-policy section,
.privacy-policy footer,
.privacy-policy nav,
.privacy-policy p,
.privacy-policy h1,
.privacy-policy h2,
.privacy-policy ul,
.privacy-policy li,
.privacy-policy a {
  text-align: left;
}

.terms {
  text-align: left;
  padding: 20px;
}

.terms header,
.terms section,
.terms footer,
.terms nav,
.terms p,
.terms h1,
.terms h2,
.terms ul,
.terms li,
.terms a {
  text-align: left;
}

/* Custom font for headers */
.font-comme {
  font-family: "Comme", sans-serif;
}

.font-hiragino {
  font-family: "Hiragino Kaku Gothic Pro", sans-serif;
}
